body {
  font-family: 'Poppins', sans-serif;
  margin:16 ;
  background-color: #0e7ae7;
  color: #e6e6f0;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #083be2;
  padding: 0em 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #06b6d4;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em 2em;
  background: linear-gradient(135deg, #1e3a8a, #06b6d4);
  color: rgb(250, 247, 247);
}

.hero-img {
  max-width: 300px;
  border-radius: 10px;
  margin-right: 2em;
}

section {
  padding: 5em 2em;
}

.cards {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.card {
  background: rgb(34, 33, 33);
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(31, 30, 30, 0.1);
  flex: 1;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}
.skills li::after {
  content: '';
  display: block;
  height: 6px;
  background-color: #06b6d4;
  border-radius: 3px;
  margin-top: 5px;
  width: 70%; 
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  max-width: 700px;
  margin: 0 auto;
  background-color: #1e2020;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(243, 240, 240, 0.1);
}

.btn:hover {
  background-color: #e9ebf0;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #3a6fd8;
  color: rgb(232, 232, 238);
}
